/*For Eligibility Grid*/
.gridcontainer {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    padding: 10px;
  }
  
  .griditem {
    flex: fixed;
    background-color: white;
    border: 2px hidden #000;
    box-shadow: 3px 5px 5px #D22B2B;
    padding: 40px;
    font-size: 50px;
    text-align: center;
  }

  .griditem:hover{
    background-color:red;
    font-size: 0;
    box-shadow: 10px 10px 10px #D22B2B;
    }

  .griditem:hover:after{
      content:attr(datahover);
      font-size: 20px;
      color: white;
  } 
